/****** General ***********/
    * {
        font-family: 'Raleway', sans-serif;
        color : var(--black)
    }

    :root {
        /*Colors*/
        --main-color: #0065FC;
        --main-bg-color: #F2F2F2;
        --filter-bg-color: #DEEBFF;
        --white : #FFF;
        --black : #000;

        /*Fonts*/
        --header-font-size : 22px;
        --title-font-size : 18px;
        --card-title-font-size : 16px;
        --card-text-font-size : 14px;
        --text-font-size : 16px;

        --header-font-style : normal;
        --title-font-style : normal;
        --card-title-font-style : normal;
        --card-text-font-style : normal;
        --text-font-style : normal;

        --header-font-weight : 700;
        --title-font-weight : 700;
        --card-title-font-weight : 700;
        --card-text-font-weight : 400;
        --text-font-weight : 400;
    }

    body {
        display: flex;
        justify-content: center;
    }

    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    .section-title {
        margin: 0;
        font-size: var(--header-font-size);
        font-style : var(--header-font-style);
        font-weight: var(--header-font-weight);
    }

/****** Header ******/
    header {
        display : flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top : 25px;
        padding-bottom: 25px;
    }

    .header_logo {
        width: 61.09px;
        height: 19px;
    }

    .header_link {
        margin-left : 30px;
        padding-top : 25px;
    }

    .header_link:hover {
        color : var(--main-color);
        border-top : solid 2px var(--main-color);
    }

/****** Hero and Forms ******/
    /****** Hero ******/
        .hero {
            margin-top : 30px;
        }

        .hero_title {
            font-size : var(--header-font-size);
            font-style : var(--header-font-style);
            font-weight: var(--header-font-weight);
            margin: 0;
        }

        .hero_content {
            font-size : var(--text-font-size);
            font-style : var(--text-font-style);
            font-weight: var(--text-font-weight);
            margin-top: 10px;
        }

    /****** Search Form ******/
        .search_form {
            margin : 30px 0;
            display :flex;
            flex-direction: row;
            justify-content: start;
        }

        .search_form-image {
            width: 14px;
            height: 18px;
            background-color: var(--main-bg-color);
            border: solid 1px var(--main-bg-color);
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            padding : 16.5px 18px;
        }

        .search_form-searchbar {
            font-size : var(--title-font-size);
            font-style: var(--title-font-style);
            font-weight: var(--title-font-weight);
            background-color: var(--white);
            border : solid 1px var(--main-bg-color);
            padding : 15px 0;
        }

        ::placeholder {
            color : var(--black);
            font-size : var(--title-font-size);
            font-style: var(--title-font-style);
            font-weight: var(--title-font-weight);
            text-align: center;
        }

        .search_form-button {
            color : var(--white);
            font-size : var(--title-font-size);
            font-style: var(--title-font-style);
            font-weight: var(--title-font-weight);
            background-color: var(--main-color);
            border : solid 1px var(--main-color);
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            padding : 15px 16px;
        }

        /****** Search Form : Mobile Button ******/
            .search_form-mobile-button {
                display : none;
            }

    /****** Filters ******/
        .filter {
            margin-top : 30px;
            display : flex;
            flex-direction: row;
            align-items: center;
        }

        .filter_title {
            margin-right : 15px;
            font-size : var(--title-font-size);
            font-style : var(--title-font-style);
            font-weight : var(--title-font-weight);
        }

        .filter_grid {
            display : flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        /****** Filters : Buttons ******/
            .filter_button {
                background-color: var(--white);
                border : solid 2px var(--main-bg-color);
                border-radius : 25px;
                color : var(--black);
                font-size : var(--title-font-size);
                font-style : var(--title-font-style);
                font-weight : var(--title-font-weight);
                padding : 10px 20px;
                display : flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
            }

            .filter_button-image {
                width : 22px;
                height : 22px;
                padding-right : 10px;
            }

            .filter_button:hover {
                background-color: var(--filter-bg-color);
            }

    /****** Info ******/
        .info {
            display :flex;
            flex-direction: row;
            align-items: center;
            margin-top: 20px;
        }

        .info_image {
            width: 4px;
            height: 10px;
            padding : 8px 11px;
            border : solid 1px var(--main-bg-color);
            border-radius: 25px;
            margin-right: 15px;
        }


/****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        display: flex;
        justify-content: space-between;
        margin-bottom : 30px;
        margin-top : 30px
    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }

    /****** Icones ******/
        .fa-solid {
            color: var(--main-color);
        }


    /****** Card Hébergements and Populaire ******/
        .card {
            background-color: var(--white);
            border-radius: 20px;
            padding: 5px;
            filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        }

        .card img {
            object-fit: cover;
        }

        /****** Card : Content ******/
            .card-title {
                font-size: var(--card-title-font-size);
                font-style : var(--card-title-font-style);
                font-weight: var(--card-title-font-weight);
            }

            .euro {
                font-weight: 600;
                font-size: 14px;
            }

            .neutral-star {
                color: var(--main-bg-color)
            }


    /****** Hebergements ***********/
        .hebergements {
            width: 65%;
        }

        .hebergements_list {
                display : flex;
                justify-content: space-between;
        }

        .hebergements_link-more {
            font-size : var(--title-font-size);
            font-style : var(--title-font-style);
            font-weight: var(--title-font-weight);
            margin-top : 30px;
        }


        /****** Cards : hébèrgement ******/
            .hebergements-cards .card {
                margin-top : 33px;
            }

            .hebergements-cards img {
                height : 124px;
                width: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }

            /****** Cards : content ******/
                .hebergements-cards .card-content {
                    width: 250px;
                    padding-left: 15px;
                    display : flex;
                    flex-direction: column;
                    justify-content: space-between;
                    box-sizing: border-box;
                }

                .hebergements-cards .card-title {
                    margin-top : 10px;
                    margin-bottom : 4px;
                }

                .hebergements-cards .card-subtitle {
                    margin : 0;
                    font-size: var(--card-text-font-size);
                    font-style : var(--card-text-font-style);
                    font-weight: var(--card-text-font-weight);
                }

                .hebergements-cards .card-rating {
                    margin-bottom : 5px;
                }

    /****** Populaires ***********/
        .populaires {
            width: 32%;
        }

        .populaires-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        /****** Card : Populaires ******/

            .populaires-cards .card {
                display: flex;
                margin-top: 33px;
            }

            .populaires-cards img {
                width: 33%;
                height: 136px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }

            /****** Card : content ******/
                .populaires-cards .card-content {
                    width: 67%;
                    padding-left: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    box-sizing: border-box;
                }

                .populaires-cards .card-title {
                    margin-top: 10px;
                    margin-bottom: 4px;
                }

                .populaires-cards .card-subtitle {
                    margin: 0;
                    font-size: var(--card-text-font-size);
                    font-style : var(--card-text-font-style);
                    font-weight: var(--card-text-font-weight);
                }

                .populaires-cards .card-rating {
                    margin-bottom: 5px;
                }

/****** Activités à Marseille ******/
    .activites {
        margin-top : 60px;
    }


    /****** Card : Activités ******/
        .activites-cards {
            display : flex ;
            flex-direction: row;
            justify-content: space-between;
        }

        .activites-cards .card {
            margin-top : 33px;
            padding : 0;
        }

        .activites-cards a {
            width: 23%;
        }

        /****** Card : Content ******/
            .activites-cards img {
                height: 380px;
                width: 100%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }

            .activites-cards .card-content {
                margin : 0;
                padding-left : 15px;
            }

            .activites-cards .card-title {
                padding-top : 20px;
                padding-bottom :20px;
                margin : 0;
            }

        
/****** Footer ******/
    footer {
        background-color: var(--main-bg-color);
        padding-top : 15px;
        padding-bottom: 15px;
        margin-top : 60px;
        display : flex;
        flex-direction: row;
    }

    /****** Box Footer ******/
        .footer_box {
            width: 33%;
            padding-left : 15px;
        }

        /****** Box Footer : content ******/
            .footer_title {
                font-size: var(--title-font-size);
                font-style: var(--title-font-style);
                font-weight: var(--title-font-weight);
                margin-bottom : 20px;
            }

            .links_list a {
                display : block;
                margin-bottom : 15px;
                font-size: var(--text-font-size);
                font-style: var(--text-font-style);
                font-weight: var(--text-font-weight);
            }



/****** Media queries ***********/
    /* Medium devices (tablets, less/equal than 1024px) */
        @media (max-width: 1024px) {

            /****** Hero and Forms ******/

                /****** Filters ******/
                    .filter {
                        flex-direction: column;
                        align-items: start;
                    }

                    /****** Filters : buttons ******/
                        .filter_button {
                            width: 161px;
                            height : 50px
                        }

                        .filter_button-image {
                            height: 50%;

                        }

                
            /****** Hebergements and Populaires ******/
                .hebergements-and-populaires {
                    flex-direction: column;
                }

                /****** Hebergements ******/
                    .hebergements {
                        width: 100%;
                    }

                        /****** Hebergements : Cards ******/
                            .hebergements-cards a {
                                width: 30%;
                            }

                            .hebergements-cards .card-title {
                                font-size: 14px;
                            }

                            .hebergements-cards .card-subtitle {
                                font-size: 13px;
                            }

                /****** Populaires ******/
                .populaires {
                    width: 100%;
                    margin-top: 50px;
                }

                    /****** Populaires: Cards ******/
                        .populaires-cards {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }

                        .populaires-cards a {
                            width: 30%;
                        }

                        .populaires-cards .card-title {
                            font-size: 14px;
                        }

                        .populaires-cards .card-subtitle {
                            font-size: 13px;
                        }


            /****** Activités ******/
                .activites-cards img {
                    height : 200px;
                }

                .activites-cards .card-content {
                    height: 70px;
                    display : flex;
                    flex-direction: row;
                    align-items: center;
                }
        }



    /* Small devices (phones, less than 768px) */
        @media (max-width: 767.98px) {

            /****** General ******/
                .main-container {
                    padding : 0;
                }

            /****** Header ******/
                header {
                    flex-direction : column;
                    align-items : center;
                }

                nav {
                    display : flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                }

                .header_link {
                    padding-bottom : 20px;
                    border-bottom : solid 2px var(--main-bg-color);
                    width: 50%;
                    margin : 0;
                    text-align: center;
                }

                .header_link:hover {
                    color : var(--main-color);
                    border-bottom : solid 2px var(--main-color);
                    border-top: 0;
                }

            /****** Hero and Forms ******/
                .hero-and-form {
                    padding : 0 20px;
                }

                    /****** Search Form ******/
                        .search_form {
                            justify-content: center;
                            position: relative;
                        }

                        /****** Search Form : Searchbar ******/
                            .search_form-searchbar {
                                flex : 1;
                                border-top-right-radius: 15px;
                                border-bottom-right-radius: 15px;
                                padding-left : 20px;
                            }

                            ::placeholder {
                                text-align : start;
                            }

                        /****** Search button : Desktop and Tablet buttons ******/
                            .search_form-button {
                                display : none;
                            }

                        /****** Search Button : Mobile Search Button ******/ 
                            .search_form-mobile-button {
                                display : block;
                                background-color: var(--main-color);
                                filter : drop-shadow(0px 4px 2px rgba (0, 0, 0, 0.3));
                                border : none;
                                border-radius: 15px;
                                margin : 0;
                                padding : 0;
                                position : absolute;
                                right : 0;
                                width: 53px;
                                height: 53px;
                            }

                            .search_form-mobile-button-image {
                                height: 17px;
                                width: 17px;
                                background-color: var(--main-color);
                                border : none;
                                padding : 0 18px;
                            }
                    

                    /****** Filters ******/
                        .filter {
                            flex-direction: column;
                            align-items: start;
                        }

                        .filter_grid {
                            width: 335px;
                            display : grid;
                            grid-template-columns: 162px 162px;
                            grid-template-rows: 50px 50px;
                            gap : 20px;
                            margin-top : 15px;
                        }

                        /****** Filters : Buttons ******/
                            .filter_button {
                                width: 162px;
                                font-size : 14px;
                                align-items: center;
                                justify-content: start;
                            }

        
            /****** Hebergements and Populaires ******/
                .hebergements-and-populaires {
                flex-direction: column-reverse;
                }
                    
                .hebergements-and-populaires section {
                margin-top : 0;
                border-radius: 0;
                }
                
                /****** Populaires ******/
                    .populaires-cards {
                    flex-direction: column;
                    }
                    
                    .populaires-cards a {
                    height : 33%;
                    width: 100%;
                    }

                /****** Hebergements ******/
                    .hebergements-and-populaires .hebergements {
                        background-color: var(--white);
                    }

                    .hebergements_list {
                        flex-direction: column;
                        align-items: center;
                    }

                    .hebergements-cards a {
                        width: 100%;
                    }

                    .hebergements-cards .card {
                        margin-top : 15px;
                    }
            
            /****** Activités ******/
                .activites {
                    padding : 0 20px;
                }

                /****** Activités : Cards ******/
                    .activites-cards {
                        flex-direction: column;
                        justify-content: center;
                    }

                    .activites-cards .card {
                        width: 100%;
                    }

                    .activites-cards img {
                        height : 141px;
                    }

            /****** Footer ******/
                footer {
                    flex-direction: column;
                    gap : 30px;
                }

                .footer_box {
                    width: 100%;
                    padding-left: 25px;
                }

    }